# Создание файла для работы

In [41]:
import pandas as pd
import numpy as np

In [42]:
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df = pd.read_csv(r'C:\Users\AAA\Desktop\Диплом\data.csv', encoding='latin1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [44]:
df.head(100)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/2010 9:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom

In [45]:
# Подсчет количества уникальных значений для указанных столбцов
columns_to_check = ['Description', 'CustomerID', 'Country', 'StockCode']

unique_counts = {column: df[column].nunique() for column in columns_to_check}

# Вывод результатов
for column, count in unique_counts.items():
    print(f"Столбец '{column}' содержит {count} уникальных значений.")

Столбец 'Description' содержит 4223 уникальных значений.
Столбец 'CustomerID' содержит 4372 уникальных значений.
Столбец 'Country' содержит 38 уникальных значений.
Столбец 'StockCode' содержит 4070 уникальных значений.

In [46]:
# Получение всех уникальных значений StockCode
unique_stock_codes = df['StockCode'].unique()

# Выбор первых 3668 уникальных значений
selected_stock_codes = unique_stock_codes[:3667]

# Фильтрация таблицы, оставляя только строки с выбранными StockCode
filtered_df = df[df['StockCode'].isin(selected_stock_codes)]

# Проверка результата
print(f"Количество уникальных StockCode после фильтрации: {filtered_df['StockCode'].nunique()}")

Количество уникальных StockCode после фильтрации: 3667

In [47]:
# Загрузка данных
tennis_store_data = pd.read_csv("tennis_store_data.csv")
df = pd.read_csv(r'C:\Users\AAA\Desktop\Диплом\data.csv', encoding='latin1')

# Приведение цен в tennis_store_data к числовому формату
tennis_store_data['Цена'] = tennis_store_data['Цена'].replace(r'[^\d.]', '', regex=True).astype(float)

# Уникальные StockCode в df
unique_stockcodes_df = df['StockCode'].unique()

# Оставляем только первые 3668 уникальных StockCode из df
if len(unique_stockcodes_df) < len(tennis_store_data):
    raise ValueError("В df недостаточно уникальных StockCode для сопоставления с tennis_store_data.")
    
selected_stockcodes = unique_stockcodes_df[:len(tennis_store_data)]

# Добавляем StockCode в tennis_store_data
tennis_store_data['StockCode'] = selected_stockcodes

# Создание словаря для замены
replacement_dict = tennis_store_data.set_index('StockCode')[['Название', 'Цена']].to_dict(orient='index')

# Удаляем строки в df с StockCode, которые отсутствуют в selected_stockcodes
df = df[df['StockCode'].isin(selected_stockcodes)]

# Замена данных в df
def replace_description_and_price(row):
    stock_info = replacement_dict.get(row['StockCode'])
    if stock_info:
        row['Description'] = stock_info['Название']
        row['UnitPrice'] = stock_info['Цена']
    return row

# Применение замены
df = df.apply(replace_description_and_price, axis=1)

# Сохранение результата
df.to_csv(r'C:\Users\AAA\Desktop\Диплом\updated_data.csv', index=False)

# Проверка результата
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,Теннисная ракетка Wilson Ultra Team V4.0,6,12/1/2010 8:26,20400.0,17850.0,United Kingdom
1,536365,71053,Теннисная ракетка Head Geo Speed (MM TRADE),6,12/1/2010 8:26,9140.0,17850.0,United Kingdom
2,536365,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,8,12/1/2010 8:26,31990.0,17850.0,United Kingdom
3,536365,84029G,Теннисная ракетка Wilson Six.One Lite 102,6,12/1/2010 8:26,24040.0,17850.0,United Kingdom
4,536365,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,6,12/1/2010 8:26,39950.0,17850.0,United Kingdom
5,536365,22752,Теннисная ракетка Yonex New EZONE 105 (275g),2,12/1/2010 8:26,38720.0,17850.0,United Kingdom
6,536365,21730,Теннисная ракетка Wilson Pro Staff Precision 100,6,12/1/2010 8:26,21590.0,17850.0,United Kingdom
7,536366,22633,Теннисная ракетка Wilson Triad Three,6,12/1/2010 8:28,38720.0,17850.0,United Kingdom
8,536366,22632,Теннисная ракетка Wilson Pro Staff Precision 103,6,12/1/2010 8:28,15160.0,17850.0,United Kingdom
9,536367,84879,Теннисная ракетка Tecnifibre T-Fight 305 Isofl...,32,12/1/2010 8:34,40760.0,13047.0,United Kingdom
10,536367,22745,Теннисная ракетка Wilson Ultra 100L V4.0 + Стр...,6,12/1/2010 8:34,26520.0,13047.0,United Kingdom
11,536367,22748,Теннисная ракетка Wilson Pro Staff 97L V14 + С...,6,12/1/2010 8:34,36720.0,13047.0,United Kingdom
12,536367,22749,Теннисная ракетка Wilson Pro Staff Six.One 95 ...,8,12/1/2010 8:34,50960.0,13047.0,United Kingdom
13,536367,22310,Теннисная ракетка Wilson Triad Five,6,12/1/2010 8:34,35900.0,13047.0,United Kingdom
14,536367,84969,Теннисная ракетка Babolat Boost Drive,6,12/1/2010 8:34,15980.0,13047.0,United Kingdom
15,536367,22623,Теннисная ракетка Prince Twist Power X 100 290...,3,12/1/2010 8:34,42800.0,13047.0,United Kingdom
16,536367,22622,Теннисная ракетка Yonex New EZONE 100 (300g) +...,2,12/1/2010 8:34,41580.0,13047.0,United Kingdom
17,536367,21754,Теннисная ракетка Yonex New EZONE 98 (305g) + ...,3,12/1/2010 8:34,42800.0,13047.0,United Kingdom
18,536367,21755,Теннисная ракетка Wilson Clash 100UL V2.0,3,12/1/2010 8:34,25990.0,13047.0,United Kingdom
19,536367,21777,Теннисная ракетка Babolat Pure Aero Team + Стр...,4,12/1/2010 8:34,37540.0,13047.0,United Kingdom

In [48]:
# Подсчет количества уникальных значений для указанных столбцов
columns_to_check = ['Description', 'CustomerID', 'Country', 'StockCode']

unique_counts = {column: df[column].nunique() for column in columns_to_check}

# Вывод результатов
for column, count in unique_counts.items():
    print(f"Столбец '{column}' содержит {count} уникальных значений.")

Столбец 'Description' содержит 3465 уникальных значений.
Столбец 'CustomerID' содержит 4369 уникальных значений.
Столбец 'Country' содержит 38 уникальных значений.
Столбец 'StockCode' содержит 3668 уникальных значений.

In [49]:
# Округление значений в UnitPrice и приведение к целым числам
df['UnitPrice'] = df['UnitPrice'].round().astype(int)

# Проверка результата
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,Теннисная ракетка Wilson Ultra Team V4.0,6,12/1/2010 8:26,20400,17850.0,United Kingdom
1,536365,71053,Теннисная ракетка Head Geo Speed (MM TRADE),6,12/1/2010 8:26,9140,17850.0,United Kingdom
2,536365,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,8,12/1/2010 8:26,31990,17850.0,United Kingdom
3,536365,84029G,Теннисная ракетка Wilson Six.One Lite 102,6,12/1/2010 8:26,24040,17850.0,United Kingdom
4,536365,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,6,12/1/2010 8:26,39950,17850.0,United Kingdom
5,536365,22752,Теннисная ракетка Yonex New EZONE 105 (275g),2,12/1/2010 8:26,38720,17850.0,United Kingdom
6,536365,21730,Теннисная ракетка Wilson Pro Staff Precision 100,6,12/1/2010 8:26,21590,17850.0,United Kingdom
7,536366,22633,Теннисная ракетка Wilson Triad Three,6,12/1/2010 8:28,38720,17850.0,United Kingdom
8,536366,22632,Теннисная ракетка Wilson Pro Staff Precision 103,6,12/1/2010 8:28,15160,17850.0,United Kingdom
9,536367,84879,Теннисная ракетка Tecnifibre T-Fight 305 Isofl...,32,12/1/2010 8:34,40760,13047.0,United Kingdom
10,536367,22745,Теннисная ракетка Wilson Ultra 100L V4.0 + Стр...,6,12/1/2010 8:34,26520,13047.0,United Kingdom
11,536367,22748,Теннисная ракетка Wilson Pro Staff 97L V14 + С...,6,12/1/2010 8:34,36720,13047.0,United Kingdom
12,536367,22749,Теннисная ракетка Wilson Pro Staff Six.One 95 ...,8,12/1/2010 8:34,50960,13047.0,United Kingdom
13,536367,22310,Теннисная ракетка Wilson Triad Five,6,12/1/2010 8:34,35900,13047.0,United Kingdom
14,536367,84969,Теннисная ракетка Babolat Boost Drive,6,12/1/2010 8:34,15980,13047.0,United Kingdom
15,536367,22623,Теннисная ракетка Prince Twist Power X 100 290...,3,12/1/2010 8:34,42800,13047.0,United Kingdom
16,536367,22622,Теннисная ракетка Yonex New EZONE 100 (300g) +...,2,12/1/2010 8:34,41580,13047.0,United Kingdom
17,536367,21754,Теннисная ракетка Yonex New EZONE 98 (305g) + ...,3,12/1/2010 8:34,42800,13047.0,United Kingdom
18,536367,21755,Теннисная ракетка Wilson Clash 100UL V2.0,3,12/1/2010 8:34,25990,13047.0,United Kingdom
19,536367,21777,Теннисная ракетка Babolat Pure Aero Team + Стр...,4,12/1/2010 8:34,37540,13047.0,United Kingdom

In [50]:
# Делим значения столбца Quantity на 3 и округляем в большую сторону
df['Quantity'] = np.ceil(df['Quantity'] / 3).astype(int)


# Проверка результата
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,Теннисная ракетка Wilson Ultra Team V4.0,2,12/1/2010 8:26,20400,17850.0,United Kingdom
1,536365,71053,Теннисная ракетка Head Geo Speed (MM TRADE),2,12/1/2010 8:26,9140,17850.0,United Kingdom
2,536365,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,3,12/1/2010 8:26,31990,17850.0,United Kingdom
3,536365,84029G,Теннисная ракетка Wilson Six.One Lite 102,2,12/1/2010 8:26,24040,17850.0,United Kingdom
4,536365,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,2,12/1/2010 8:26,39950,17850.0,United Kingdom
5,536365,22752,Теннисная ракетка Yonex New EZONE 105 (275g),1,12/1/2010 8:26,38720,17850.0,United Kingdom
6,536365,21730,Теннисная ракетка Wilson Pro Staff Precision 100,2,12/1/2010 8:26,21590,17850.0,United Kingdom
7,536366,22633,Теннисная ракетка Wilson Triad Three,2,12/1/2010 8:28,38720,17850.0,United Kingdom
8,536366,22632,Теннисная ракетка Wilson Pro Staff Precision 103,2,12/1/2010 8:28,15160,17850.0,United Kingdom
9,536367,84879,Теннисная ракетка Tecnifibre T-Fight 305 Isofl...,11,12/1/2010 8:34,40760,13047.0,United Kingdom
10,536367,22745,Теннисная ракетка Wilson Ultra 100L V4.0 + Стр...,2,12/1/2010 8:34,26520,13047.0,United Kingdom
11,536367,22748,Теннисная ракетка Wilson Pro Staff 97L V14 + С...,2,12/1/2010 8:34,36720,13047.0,United Kingdom
12,536367,22749,Теннисная ракетка Wilson Pro Staff Six.One 95 ...,3,12/1/2010 8:34,50960,13047.0,United Kingdom
13,536367,22310,Теннисная ракетка Wilson Triad Five,2,12/1/2010 8:34,35900,13047.0,United Kingdom
14,536367,84969,Теннисная ракетка Babolat Boost Drive,2,12/1/2010 8:34,15980,13047.0,United Kingdom
15,536367,22623,Теннисная ракетка Prince Twist Power X 100 290...,1,12/1/2010 8:34,42800,13047.0,United Kingdom
16,536367,22622,Теннисная ракетка Yonex New EZONE 100 (300g) +...,1,12/1/2010 8:34,41580,13047.0,United Kingdom
17,536367,21754,Теннисная ракетка Yonex New EZONE 98 (305g) + ...,1,12/1/2010 8:34,42800,13047.0,United Kingdom
18,536367,21755,Теннисная ракетка Wilson Clash 100UL V2.0,1,12/1/2010 8:34,25990,13047.0,United Kingdom
19,536367,21777,Теннисная ракетка Babolat Pure Aero Team + Стр...,2,12/1/2010 8:34,37540,13047.0,United Kingdom

In [51]:
# Делим значения столбца UnitPrice на 8 и округляем в большую сторону
df['UnitPrice'] = np.ceil(df['UnitPrice'] // 8).astype(int)


# Проверка результата
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,Теннисная ракетка Wilson Ultra Team V4.0,2,12/1/2010 8:26,2550,17850.0,United Kingdom
1,536365,71053,Теннисная ракетка Head Geo Speed (MM TRADE),2,12/1/2010 8:26,1142,17850.0,United Kingdom
2,536365,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,3,12/1/2010 8:26,3998,17850.0,United Kingdom
3,536365,84029G,Теннисная ракетка Wilson Six.One Lite 102,2,12/1/2010 8:26,3005,17850.0,United Kingdom
4,536365,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,2,12/1/2010 8:26,4993,17850.0,United Kingdom

In [52]:
# Преобразуем столбец InvoiceDate в формат datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%m/%d/%Y %H:%M')

# Извлекаем год и заменяем значения
df['InvoiceDate'] = df['InvoiceDate'].apply(lambda x: x.replace(year=2023) if x.year == 2010 else x.replace(year=2024) if x.year == 2011 else x)

# Проверка результата
print(df[['InvoiceDate']].head(20))

           InvoiceDate
0  2023-12-01 08:26:00
1  2023-12-01 08:26:00
2  2023-12-01 08:26:00
3  2023-12-01 08:26:00
4  2023-12-01 08:26:00
5  2023-12-01 08:26:00
6  2023-12-01 08:26:00
7  2023-12-01 08:28:00
8  2023-12-01 08:28:00
9  2023-12-01 08:34:00
10 2023-12-01 08:34:00
11 2023-12-01 08:34:00
12 2023-12-01 08:34:00
13 2023-12-01 08:34:00
14 2023-12-01 08:34:00
15 2023-12-01 08:34:00
16 2023-12-01 08:34:00
17 2023-12-01 08:34:00
18 2023-12-01 08:34:00
19 2023-12-01 08:34:00

In [53]:
unique_country = df['Country'].unique()
print (unique_country)

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

In [54]:
# Список стран и соответствующих городов
country_to_city_mapping = {
    'United Kingdom': 'Москва и МО',
    'France': 'Санкт-Петербург',
    'Australia': 'Новосибирск',
    'Netherlands': 'Екатеринбург',
    'Germany': 'Казань',
    'Norway': 'Нижний Новгород',
    'EIRE': 'Красноярск',
    'Switzerland': 'Челябинск',
    'Spain': 'Самара',
    'Poland': 'Уфа',
    'Portugal': 'Ростов-на-Дону',
    'Italy': 'Краснодар',
    'Belgium': 'Омск',
    'Lithuania': 'Воронеж',
    'Japan': 'Пермь',
    'Iceland': 'Волгоград',
    'Channel Islands': 'Тюмень',
    'Denmark': 'Сургут',
    'Cyprus': 'Новокузнецк',
    'Sweden': 'Ярославль',
    'Austria': 'Кемерово',
    'Israel': 'Калининград',
    'Finland': 'Калуга',
    'Bahrain': 'Набережные Челны',
    'Greece': 'Севастополь',
    'Hong Kong': 'Грозный',
    'Singapore': 'Мурманск',
    'Lebanon': 'Владивосток',
    'United Arab Emirates': 'Пермь',
    'Saudi Arabia': 'Иркутск',
    'Czech Republic': 'Томск',
    'Canada': 'Новокузнецк',
    'Unspecified': 'Калининград',
    'Brazil': 'Сургут',
    'USA': 'Новосибирск',
    'European Community': 'Калининград',
    'Malta': 'Санкт-Петербург',
    'RSA': 'Санкт-Петербург'
}

# Замена значений в столбце Country
df['Country'] = df['Country'].replace(country_to_city_mapping)

# Проверка результата
print(df)

       InvoiceNo StockCode                                        Description  \
0         536365    85123A           Теннисная ракетка Wilson Ultra Team V4.0
1         536365     71053        Теннисная ракетка Head Geo Speed (MM TRADE)
2         536365    84406B  Теннисная ракетка Wilson Blade 98 (18X20) V8.0...
3         536365    84029G          Теннисная ракетка Wilson Six.One Lite 102
4         536365    84029E  Теннисная ракетка Yonex New EZONE 100L (285g) ...
...          ...       ...                                                ...
541904    581587     22613  Мужские теннисные шорты Nike Court Dri-Fit Vic...
541905    581587     22899           Теннисная ракетка Wilson Hyper Fusion XL
541906    581587     23254  Женские Кроссовки теннисные Diadora B.Icon 2 W...
541907    581587     23255  Мужские кроссовки теннисные Asics Solution Spe...
541908    581587     22138  Теннисная юбка Head Club 3/4 Tights Skort - не...

        Quantity         InvoiceDate  UnitPrice  CustomerID          Country
0              2 2023-12-01 08:26:00       2550     17850.0      Москва и МО
1              2 2023-12-01 08:26:00       1142     17850.0      Москва и МО
2              3 2023-12-01 08:26:00       3998     17850.0      Москва и МО
3              2 2023-12-01 08:26:00       3005     17850.0      Москва и МО
4              2 2023-12-01 08:26:00       4993     17850.0      Москва и МО
...          ...                 ...        ...         ...              ...
541904         4 2024-12-09 12:50:00        887     12680.0  Санкт-Петербург
541905         2 2024-12-09 12:50:00       1006     12680.0  Санкт-Петербург
541906         2 2024-12-09 12:50:00       3157     12680.0  Санкт-Петербург
541907         2 2024-12-09 12:50:00       2448     12680.0  Санкт-Петербург
541908         1 2024-12-09 12:50:00       1341     12680.0  Санкт-Петербург

[511639 rows x 8 columns]

In [55]:
# Переименование столбцов
df.rename(columns={
    "InvoiceNo": "ID заказа",
    "StockCode": "Артикул",
    "Description": "Название",
    "Quantity": "Количество",
    "InvoiceDate": "Дата",
    "UnitPrice": "Цена",
    "CustomerID": "ID клиента",
    "Country": "Регион"
}, inplace=True)

# Проверка результатов
df.head(5)

,ID заказа,Артикул,Название,Количество,Дата,Цена,ID клиента,Регион
0,536365,85123A,Теннисная ракетка Wilson Ultra Team V4.0,2,2023-12-01 08:26:00,2550,17850.0,Москва и МО
1,536365,71053,Теннисная ракетка Head Geo Speed (MM TRADE),2,2023-12-01 08:26:00,1142,17850.0,Москва и МО
2,536365,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,3,2023-12-01 08:26:00,3998,17850.0,Москва и МО
3,536365,84029G,Теннисная ракетка Wilson Six.One Lite 102,2,2023-12-01 08:26:00,3005,17850.0,Москва и МО
4,536365,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,2,2023-12-01 08:26:00,4993,17850.0,Москва и МО

In [56]:
quantity_description = df['Количество'].describe()
print("Основная информация о столбце 'Количество':")
print(quantity_description)

Основная информация о столбце 'Количество':
count    511639.000000
mean          3.545209
std          52.340148
min      -24738.000000
25%           1.000000
50%           1.000000
75%           4.000000
max       24739.000000
Name: Количество, dtype: float64

In [83]:
# Функция для разделения заказов
"""
    Только после обработки ошибок и выбросов
    
    """
def split_orders(df):
    new_rows = []
    customer_id_counter = 0.1  # Начинаем с 0.1 для дробной части
    for index, row in df.iterrows():
        if row['Количество'] > 1:
            # Разделяем заказ на несколько строк
            for i in range(row['Количество']):
                new_row = row.copy()
                new_row['Количество'] = 1
                # Создаем новый номер счета, добавляя суффикс
                new_row['ID заказа'] = f"{row['ID заказа']}_{i+1}"
                # Назначаем новый ID клиента с дробной частью
                new_row['ID клиента'] = row['ID клиента'] + customer_id_counter
                customer_id_counter += 0.1  # Увеличиваем дробную часть
                new_rows.append(new_row)
        else:
            # Если Количество = 1, оставляем строку без изменений
            new_rows.append(row)
    return pd.DataFrame(new_rows)

# Разделяем данные на две части
half_size = len(df) // 2  # Определяем половину данных
data_to_split = df.iloc[:half_size]  # Первая половина данных
data_untouched = df.iloc[half_size:]  # Вторая половина данных

# Применяем функцию только к первой половине данных
data_to_split = split_orders(data_to_split)

# Объединяем обратно
df = pd.concat([data_to_split, data_untouched], ignore_index=True)

# Проверка результатов
df.head(20)

,ID заказа,Артикул,Название,Количество,Дата,Цена,ID клиента,Регион
0,536365_1,85123A,Теннисная ракетка Wilson Ultra Team V4.0,1,2023-12-01 08:26:00,2040,17850.1,Москва и МО
1,536365_2,85123A,Теннисная ракетка Wilson Ultra Team V4.0,1,2023-12-01 08:26:00,2040,17850.2,Москва и МО
2,536365_1,71053,Теннисная ракетка Head Geo Speed (MM TRADE),1,2023-12-01 08:26:00,914,17850.3,Москва и МО
3,536365_2,71053,Теннисная ракетка Head Geo Speed (MM TRADE),1,2023-12-01 08:26:00,914,17850.4,Москва и МО
4,536365_1,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,1,2023-12-01 08:26:00,3199,17850.5,Москва и МО
5,536365_2,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,1,2023-12-01 08:26:00,3199,17850.6,Москва и МО
6,536365_3,84406B,Теннисная ракетка Wilson Blade 98 (18X20) V8.0...,1,2023-12-01 08:26:00,3199,17850.7,Москва и МО
7,536365_1,84029G,Теннисная ракетка Wilson Six.One Lite 102,1,2023-12-01 08:26:00,2404,17850.8,Москва и МО
8,536365_2,84029G,Теннисная ракетка Wilson Six.One Lite 102,1,2023-12-01 08:26:00,2404,17850.9,Москва и МО
9,536365_1,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,1,2023-12-01 08:26:00,3995,17851.0,Москва и МО
10,536365_2,84029E,Теннисная ракетка Yonex New EZONE 100L (285g) ...,1,2023-12-01 08:26:00,3995,17851.1,Москва и МО
11,536365,22752,Теннисная ракетка Yonex New EZONE 105 (275g),1,2023-12-01 08:26:00,3872,17850.0,Москва и МО
12,536365_1,21730,Теннисная ракетка Wilson Pro Staff Precision 100,1,2023-12-01 08:26:00,2159,17851.2,Москва и МО
13,536365_2,21730,Теннисная ракетка Wilson Pro Staff Precision 100,1,2023-12-01 08:26:00,2159,17851.3,Москва и МО
14,536366_1,22633,Теннисная ракетка Wilson Triad Three,1,2023-12-01 08:28:00,3872,17851.4,Москва и МО
15,536366_2,22633,Теннисная ракетка Wilson Triad Three,1,2023-12-01 08:28:00,3872,17851.5,Москва и МО
16,536366_1,22632,Теннисная ракетка Wilson Pro Staff Precision 103,1,2023-12-01 08:28:00,1516,17851.6,Москва и МО
17,536366_2,22632,Теннисная ракетка Wilson Pro Staff Precision 103,1,2023-12-01 08:28:00,1516,17851.7,Москва и МО
18,536367_1,84879,Теннисная ракетка Tecnifibre T-Fight 305 Isofl...,1,2023-12-01 08:34:00,4076,13048.8,Москва и МО
19,536367_2,84879,Теннисная ракетка Tecnifibre T-Fight 305 Isofl...,1,2023-12-01 08:34:00,4076,13048.9,Москва и МО

In [47]:
df.tail(20)

,ID заказа,Артикул,Название,Количество,Дата,Цена,ID клиента,Регион
603874,581585,22466,Теннисная ракетка Prince Twist Power X 105 290...,4,2024-12-09 12:31:00,4280,15804.0,Москва и МО
603875,581586,22061,Виброгаситель Pro's Pro Adler 3P,3,2024-12-09 12:49:00,108,13113.0,Москва и МО
603876,581586,23275,детские Кроссовки теннисные Babolat Propulse A...,8,2024-12-09 12:49:00,1100,13113.0,Москва и МО
603877,581586,21217,Теннисные струны Tourna Quasi-Gut (12 m) - нат...,8,2024-12-09 12:49:00,332,13113.0,Москва и МО
603878,581586,20685,Теннисная ракетка Head Boom MP L Alternate 2024,4,2024-12-09 12:49:00,3546,13113.0,Москва и МО
603879,581587,22631,Теннисная ракетка Head Gravity Pro,4,2024-12-09 12:50:00,3519,12680.0,Санкт-Петербург
603880,581587,22556,Теннисная ракетка Tecnifibre Tempo 285 + Струн...,4,2024-12-09 12:50:00,3668,12680.0,Санкт-Петербург
603881,581587,22555,Сумка теннисная Babolat Pure Aero RHX12 - серый,4,2024-12-09 12:50:00,1958,12680.0,Санкт-Петербург
603882,581587,22728,Теннисная ракетка Tecnifibre TF-X1 275,2,2024-12-09 12:50:00,3264,12680.0,Санкт-Петербург
603883,581587,22727,Теннисная ракетка Wilson Clash 98 V2.0,2,2024-12-09 12:50:00,2519,12680.0,Санкт-Петербург
603884,581587,22726,Теннисная ракетка Wilson Clash 100 V2.0,2,2024-12-09 12:50:00,2999,12680.0,Санкт-Петербург
603885,581587,22730,Ракетка детская Tecnifibre Tempo 19,2,2024-12-09 12:50:00,575,12680.0,Санкт-Петербург
603886,581587,22367,Теннисная ракетка Wilson Tour Slam Lite,3,2024-12-09 12:50:00,805,12680.0,Санкт-Петербург
603887,581587,22629,Теннисная ракетка Wilson Six One,4,2024-12-09 12:50:00,1836,12680.0,Санкт-Петербург
603888,581587,23256,детские Кроссовки теннисные Adidas Barricade K...,2,2024-12-09 12:50:00,1234,12680.0,Санкт-Петербург
603889,581587,22613,Мужские теннисные шорты Nike Court Dri-Fit Vic...,4,2024-12-09 12:50:00,710,12680.0,Санкт-Петербург
603890,581587,22899,Теннисная ракетка Wilson Hyper Fusion XL,2,2024-12-09 12:50:00,805,12680.0,Санкт-Петербург
603891,581587,23254,Женские Кроссовки теннисные Diadora B.Icon 2 W...,2,2024-12-09 12:50:00,2526,12680.0,Санкт-Петербург
603892,581587,23255,Мужские кроссовки теннисные Asics Solution Spe...,2,2024-12-09 12:50:00,1959,12680.0,Санкт-Петербург
603893,581587,22138,Теннисная юбка Head Club 3/4 Tights Skort - не...,1,2024-12-09 12:50:00,1073,12680.0,Санкт-Петербург

In [52]:
# Функция для разделения заказов с большим количеством позиций
"""
    Только после обработки ошибок и выбросов
    
    """
def split_large_orders(df, max_items=5):
    new_rows = []
    
    # Группируем по ID заказа и ID клиента
    grouped = df.groupby(['ID заказа', 'ID клиента'])
    
    for (invoice_no, customer_id), group in grouped:
        if len(group) > max_items:
            # Если позиций больше max_items, разделяем заказ
            num_splits = (len(group) // max_items + 1)
            for i in range(num_splits):
                # Берем часть позиций для нового заказа
                start_idx = i * max_items
                end_idx = start_idx + max_items
                split_group = group.iloc[start_idx:end_idx].copy()
                
                # Создаем новый номер заказа
                split_group['ID заказа'] = f"{invoice_no}_split_{i+1}"
                
                # Создаем новый ID клиента
                split_group['ID клиента'] = f"{customer_id}_split_{i+1}"
                
                new_rows.append(split_group)
        else:
            # Если позиций меньше или равно max_items, оставляем без изменений
            new_rows.append(group)
    
    # Объединяем все строки в один DataFrame
    return pd.concat(new_rows, ignore_index=True)

# Разделяем данные на две части
half_size = len(df) // 2  # Определяем половину данных
data_to_split = df.iloc[:half_size]  # Первая половина данных
data_untouched = df.iloc[half_size:]  # Вторая половина данных

# Применяем функцию только к первой половине данных
data_to_split = split_large_orders(data_to_split, max_items=5)

# Объединяем обратно
df = pd.concat([data_to_split, data_untouched], ignore_index=True)

# Выводим результат
print(df.head(20))

         ID заказа Артикул                                           Название  \
0   536365_split_1  85123A           Теннисная ракетка Wilson Ultra Team V4.0
1   536365_split_1   71053        Теннисная ракетка Head Geo Speed (MM TRADE)
2   536365_split_1  84406B  Теннисная ракетка Wilson Blade 98 (18X20) V8.0...
3   536365_split_1  84029G          Теннисная ракетка Wilson Six.One Lite 102
4   536365_split_1  84029E  Теннисная ракетка Yonex New EZONE 100L (285g) ...
5   536365_split_2   22752       Теннисная ракетка Yonex New EZONE 105 (275g)
6   536365_split_2   21730   Теннисная ракетка Wilson Pro Staff Precision 100
7           536366   22633               Теннисная ракетка Wilson Triad Three
8           536366   22632   Теннисная ракетка Wilson Pro Staff Precision 103
9   536367_split_1   22745  Теннисная ракетка Wilson Ultra 100L V4.0 + Стр...
10  536367_split_1   22748  Теннисная ракетка Wilson Pro Staff 97L V14 + С...
11  536367_split_1   22749  Теннисная ракетка Wilson Pro Staff Six.One 95 ...
12  536367_split_1   22310                Теннисная ракетка Wilson Triad Five
13  536367_split_1   84969              Теннисная ракетка Babolat Boost Drive
14  536367_split_2   22623  Теннисная ракетка Prince Twist Power X 100 290...
15  536367_split_2   22622  Теннисная ракетка Yonex New EZONE 100 (300g) +...
16  536367_split_2   21754  Теннисная ракетка Yonex New EZONE 98 (305g) + ...
17  536367_split_2   21755          Теннисная ракетка Wilson Clash 100UL V2.0
18  536367_split_2   21777  Теннисная ракетка Babolat Pure Aero Team + Стр...
19  536367_split_3   48187  Теннисная ракетка Tecnifibre T-Fight 315 Isofl...

    Количество                Дата  Цена       ID клиента       Регион
0            2 2023-12-01 08:26:00  2550  17850.0_split_1  Москва и МО
1            2 2023-12-01 08:26:00  1142  17850.0_split_1  Москва и МО
2            3 2023-12-01 08:26:00  3998  17850.0_split_1  Москва и МО
3            2 2023-12-01 08:26:00  3005  17850.0_split_1  Москва и МО
4            2 2023-12-01 08:26:00  4993  17850.0_split_1  Москва и МО
5            1 2023-12-01 08:26:00  4840  17850.0_split_2  Москва и МО
6            2 2023-12-01 08:26:00  2698  17850.0_split_2  Москва и МО
7            2 2023-12-01 08:28:00  4840          17850.0  Москва и МО
8            2 2023-12-01 08:28:00  1895          17850.0  Москва и МО
9            2 2023-12-01 08:34:00  3315  13047.0_split_1  Москва и МО
10           2 2023-12-01 08:34:00  4590  13047.0_split_1  Москва и МО
11           3 2023-12-01 08:34:00  6370  13047.0_split_1  Москва и МО
12           2 2023-12-01 08:34:00  4487  13047.0_split_1  Москва и МО
13           2 2023-12-01 08:34:00  1997  13047.0_split_1  Москва и МО
14           1 2023-12-01 08:34:00  5350  13047.0_split_2  Москва и МО
15           1 2023-12-01 08:34:00  5197  13047.0_split_2  Москва и МО
16           1 2023-12-01 08:34:00  5350  13047.0_split_2  Москва и МО
17           1 2023-12-01 08:34:00  3248  13047.0_split_2  Москва и МО
18           2 2023-12-01 08:34:00  4692  13047.0_split_2  Москва и МО
19           2 2023-12-01 08:34:00  4283  13047.0_split_3  Москва и МО

In [17]:
# Сохранение в CSV файл
df.to_csv("tennis_store_sales(2023-2024).csv", index=False, encoding="utf-8")

Компания имеет хороший потенциал для развития продаж за счет дифференцированного подхода к клиентам.

В ходе разделения клиентской базы на кластеры была выявлена одна из проблем: 99% клиентов совершают всего одну покупку и не возвращаются (низкий Retention). Несмотря на их огромную численность, они формируют лишь 51% выручки.

Спланированный А/Б тест – лишь первый шаг к глубокой персонализации работы с клиентами.

В дальнейшем можно: 
 - провести серию CustDev для большего понимания потребностей сегментов
 - провести анализ потребительских корзин для системы рекомендаций покупок
 - улучшить показатели рекламы и многое другое.